.page {
    font-family: 'Cormorant', serif;
    color: #342b2b;
}

.menu-button {
    position: absolute;
    top: 16px;
    left: 30px;
    width: 18px;
    height: 2px;
    margin: 5px 0px 5px 15px;
    border: none;
    background: #352f2f;
}

.menu-button::before {
    position: absolute;
    top: -5px;
    left: -15px;
    content: "";
    width: 33px;
    height: 2px;
    border: none;
    background: #352f2f;
}

.menu-button::after {
    position: absolute;
    top: 5px;
    left: -15px;
    content: "";
    width: 18px;
    height: 2px;
    margin-right: 15px;
    border: none;
    background: #352f2f;
}

.header-menu_hidden {
    display: none;  
}

.header__goto {
    text-decoration: none;
    color: #79100b;
    border-bottom: 1px solid #79100b;
}