.header {
  position: absolute;
  left: 50%;
  margin-left: -160px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 9px 15px 28px;
}

.header__menu-button {
  padding: 0;

  background-color: transparent;

  border: none;
}

.header__logo {
  display: none;
}

@media (min-width: $tablet-width) {
  .header {
    margin-left: -($tablet-width / 2);
    padding: 30px 10px 0;
  }

  .header__menu-button {
    margin-right: 80px;
  }

  .header__logo {
    display: block;
    margin-right: auto;
  }

  .header__icons {
    margin-right: 50px;
  }
}

@media(min-width: $desktop-width) {
  .header {
    margin-left: -($desktop-width / 2);
    padding: 35px 20px 0;
  }

  .header__menu-button {
    margin-right: 225px;

    cursor: pointer;
  }

  .header__logo {
    width: 156px;
    height: 34px;
  }

  .header__icons {
    margin-right: 200px;
  }
}
