.header {
  position: absolute;
  left: 50%;
  margin-left: -160px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 9px 0 28px;
}

.header__menu-button {
  margin-left: 15px;
  padding: 0;

  background-color: transparent;

  border: none;
}

.header__logo {
  display: none;
}

.header__icons {
  margin-right: 15px;
}

@media (min-width: $tablet-width) {
  .header {
    margin-left: -($tablet-width / 2);
    padding-top: 30px;
  }

  .header__menu-button {
    margin-right: 80px;
    margin-left: 10px;
  }

  .header__logo {
    display: block;
    margin-right: auto;
  }

  .header__icons {
    margin-right: 60px;
  }
}
