.main-menu {
  z-index: 10;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 15px 56px 38px;

  background-color: $promo-bg-color;
  background-image: url("../img/menu-bg-mobile.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

.main-menu__close-button {
  margin: 0;
  margin-bottom: 53px;
  margin-left: auto;
  padding: 0;

  background-color: transparent;

  border: none;
}

.main-menu__label {
  width: 100%;
  margin: 0;
  margin-bottom: 30px;

  font-size: 24px;
  font-weight: 600;
}

.main-menu__list {
  margin: 0;
  padding: 0;

  font-size: 18px;
  font-weight: 400;
  color: $text-color;
  text-decoration: none;

  list-style: none;

  &--form {
    display: none;
  }
}

.main-menu__item {
  margin-bottom: 10px;

  &--mobile-hidden {
    display: none;
  }
}

.main-menu__link {
  font-size: 16px;
  font-weight: 400;
  color: $text-color;
  text-decoration: none;

  &--semibold {
    font-weight: 600;
  }

  &--medium {
    font-size: 18px;
    font-weight: 500;
  }
}

@media (min-width: $tablet-width) {
  .main-menu {
    left: unset;
    right: 0;

    justify-content: flex-start;
    width: 718px;
    padding: 37px;
    padding-left: 55px;
  }

  .main-menu__close-button {
    margin-bottom: 160px;
  }

  .main-menu__wrap {
    display: flex;
    justify-content: space-between;
  }

  .main-menu__list {
    margin-right: 50px;

    &--form {
      display: block;
      padding-top: 69px;
    }
  }

  .main-menu__item {
    margin-bottom: 20px;

    &--mobile-hidden {
      display: flex;
    }

    &--tablet-hidden {
      display: none;
    }
  }

  .main-menu__link {
    font-size: 18px;
  }

  .main-menu__search {
    display: flex;
    width: 284px;

    border-bottom: 1px solid $text-color;
  }

  .main-menu__search-button {
    margin: 0;
    padding: 0;

    background-color: transparent;

    border: none;

    svg path {
      fill: $text-color;
    }
  }

  .main-menu__search-field {
    flex-grow: 1;
    margin: 0;
    padding: 10px;
    padding-left: 31px;

    font-size: 18px;
    font-weight: 300;
    color: $slider-page-color;

    background-color: transparent;

    border: none;

    &::placeholder {
      font-size: 18px;
      font-weight: 300;
      color: $slider-page-color;

      opacity: 1;

      transition: opacity 0.3s ease;
    }

    &:focus::placeholder {
      opacity: 0;

      transition: opacity 0.3s ease;
    }
  }
}

@media (min-width: $desktop-width) {
  .main-menu {
    width: 1365px;
    padding: 50px 90px 186px 80px;
  }

  .main-menu__close-button {
    margin-bottom: 145px;

    cursor: pointer;
  }

  .main-menu__list {
    margin-right: 150px;

    &--form {
      margin-right: 0;
      padding: 0;
    }
  }

  .main-menu__item {
    &--desktop-hidden {
      display: none;
    }

    &--tablet-hidden {
      display: block;
    }
  }

  .main-menu__search-button {
    cursor: pointer;
  }
}
