@media (min-width: $desktop-width) {
  .side-nav {
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-top: 185px;
    padding: 0;

    list-style: none;
  }

  .side-nav__item {
    margin-bottom: 30px;

    a {
      font-size: 12px;
      font-weight: 400;
      color: $text-color;
      text-decoration: none;
    }

    &--active {
      position: relative;

      margin-bottom: 130px;

      a {
        font-size: 16px;
        font-weight: 600;
        color: $slide-name-color;
      }

      &::after {
        content: "";
        position: absolute;
        top: 30px;
        left: 50%;

        width: 1px;
        height: 94px;

        background-color: $text-color;
      }
    }
  }
}
