.slider__list {
  margin: 0;
  padding: 0;
}

.slider__item {
  display: none;

  &--active {
    display: block;
  }
}

.slider__name-wrap,
.slider__control {
  display: none;
}

@media (min-width: $tablet-width) {
  .slider {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-shrink: 0;
  }

  .slider__item {
    flex-direction: column;
    align-items: flex-end;

    &--active {
      display: flex;
    }
  }

  .slider__name-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: -145px;
    margin-bottom: 47px;
    padding: 24px 22px 28px 33px;

    background-color: rgba($sale-bg-color, 0.8);
  }

  .slider__name {
    margin-bottom: 15px;

    font-size: 24px;
    color: $slide-name-color;
    text-decoration: none;
  }

  .slider__price {
    position: relative;

    margin: 0;

    font-size: 16px;
    color: $slide-price-color;

    &::before {
      content: "";
      position: absolute;
      top: 9px;
      left: -90px;

      width: 72px;
      height: 1px;

      background-color: $slide-line-color;

      box-shadow: 0 1px 0 0 $slide-shadow-color;
    }
  }

  .slider__control {
    display: flex;
    align-items: baseline;
  }

  .slider__button {
    margin: 0 10px;
    padding: 0;

    background-color: transparent;

    border: none;
  }

  .slider__page {
    align-self: flex-end;

    font-size: 16px;
    font-weight: 400;
    color: $slider-page-color;

    &--current {
      align-self: baseline;

      font-size: 24px;
      font-weight: 500;
      color: $slide-price-color;
    }
  }

  .slider__link {
    margin-left: 35px;

    font-size: 16px;
    font-weight: 300;
    color: $text-color;
  }
}

@media (min-width: $desktop-width) {
  .slider__name-wrap {
    align-self: center;
    width: 367px;
    margin-top: -180px;
    margin-bottom: 80px;
  }

  .slider__price {
    font-size: 18px;
  }

  .slider__button {
    margin: 0 24px;

    svg {
      width: 10px;
      height: 17px;
    }

    cursor: pointer;
  }

  .slider__page {
    font-size: 24px;

    &--current {
      font-size: 36px;
    }
  }

  .slider__link {
    align-self: center;
    margin-left: 113px;

    font-size: 18px;
  }
}
