$text-color: #342b2b;
$page-bg-color: #ffffff;
$link-color: #79100b;
$promo-bg-color: #f1ede4;
$sale-bg-color: #ece5e1;
$sale-line-color: #b6aeab;
$sale-shadow-color: #6a6261;
$slide-name-color: #91161d;
$slide-price-color: #952226;
$slide-line-color: #c28586;
$slide-shadow-color: #bb7778;
$slider-page-color: #0b0b0b;
$social-shadow-color: #d6d5d5;

$tablet-width: 768px;
$desktop-width: 1440px;
